{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<h1>Welcome back!</h1>

<form action="/users/login" method="POST">
  <div class="form-group">
    <label for="username">Username: </label>
    <input id="username" class="form-control" name="username">
  </div>
  <div class="form-group">
    <label for="inputPassword5">Password</label>
    <input type="password" id="inputPassword5" class="form-control" name="password" aria-describedby="passwordHelpBlock">
    </div>
  <button class="btn btn-primary">Login</button>
  <a href="/" class="btn btn-danger">Go Back</a>
</form>

{% endblock %}